$screen-width: 750px;
$screen-height: 550px;

.screen {
    position: relative;
    z-index: 10;
    margin: 150px auto 0;
    height: $screen-height;
    width: $screen-width;
}
.text-wrapper {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: hidden;
    border: 1px solid #4c4c4cb0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 30px 10px #ffffff0f;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    .actual-cmd-text {
        position: relative;
        @include transition(margin-top, 0.2s, ease, 0s);
        animation: cmd-text-shadow 8s cubic-bezier(0, 4.23, 1,-2.68) infinite alternate,
                   cmd-skew 10s steps(4) infinite alternate-reverse,
                   cmd-shift 10s steps(11, end) infinite,
                   cmd-super-shake 18s steps(1) infinite forwards 5s;
    }
}
#welcome-message {
    max-width: 50vw;
}