.past-line {
    display: block;
    & + .past-line {
        padding-top: $line-spacing;
    }
    &:last-child {
        padding-bottom: $line-spacing;
    }
    & + .evaluated-line {
        padding-top: 0;
    }
    &.evaluated-line {
        color: #33B5E5;
    }
}
.line {
    padding-top: $line-spacing;
    line-height: 1;
    display: inline-block;
}
.prompt {
    display: inline-block;
    margin-right: 10px;
}
.user-text, .prompt {
    float: left;
}
#blinker {
    animation: blinker 1s steps(1, end) infinite;
    display: inline-block;
    font-size: 35px;
    position: relative;
    top: -8px;
    left: -8px;
}