@keyframes cmd-text-shadow {
    0% {
        text-shadow: 1px 1px 0px $text-colour;
    }
    10% {
        text-shadow: 0px 0px 1px $text-colour;
    }
    15% {
        text-shadow: 0px 0px 0px $text-colour;
    }
    40% {
        text-shadow: 1px 0px 0px $text-colour;
    }
    42% {
        text-shadow: 0px 0px 0px $text-colour;
    }
    43% {
        text-shadow: 0px 0px 0px $text-colour;
    }
    60% {
        text-shadow: 1px -1px 0px $text-colour;
    }
    61% {
        text-shadow: 0px 0px 0px $text-colour;
    }
    63% {
        text-shadow: 0px 0px 0px $text-colour;
    }
    65% {
        text-shadow: 0px 0px 1px $text-colour;
    }
    75% {
        text-shadow: -1px 0px 0px $text-colour;
    }
    76% {
        text-shadow: 0px 0px 0px $text-colour;
    }
    77% {
        text-shadow: 0px 0px 0px $text-colour;
    }
    90% {
        text-shadow: 0px 1px 0px $text-colour;
    }
    91% {
        text-shadow: 1px 0px 0px $text-colour;
    }
    100% {
        text-shadow: 0px 0px 0px $text-colour;
    }
}

@keyframes cmd-skew {
    0% {
        transform: skewX(0deg);
    }
    20% {
        transform: skewX(-1deg);
    }
    21% {
        transform: skewX(0deg);
    }
    80% {
        transform: skewX(1deg);
    }
    82% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

@keyframes cmd-shift {
    0% {
        top: 2px;
        left: 1px;
    }
    3% {
        top: 0px;
        left: 0px;
    }
    25% {
        top: -2px;
        left: -1px;
    }
    30% {
        top: 0px;
        left: 0px;
    }
    50% {
        top: -2px;
        left: 1px;
    }
    55% {
        top: 1px;
        left: 0px;
    }
    57% {
        top: 0px;
        left: 0px;
    }
    70% {
        top: 1px;
        left: -2px;
    }
    72% {
        top: 0px;
        left: 0px;
    }
    90% {
        top: -1px;
        left: 0px;
    }
    92% {
        top: 0px;
        left: 0px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}

@keyframes cmd-super-shake {
    0% {
        top: 20px;
        left: 20px;
    }
    1% {
        top: 0;
        left: 0;
    }
    10% {
        top: 25px;
        left: -70px;
    }
    11% {
        top: 0;
        left: 0;
    }
    50% {
        top: -10px;
        left: 30px;
    }
    51% {
        top: 0;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes scanlines {
    0% {
        top: 0;
    }
    100% {
        top: 99%;
    }
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes led-light {
    0% {
        box-shadow: 0px 0px 20px 2px red;
    }
    20% {
        box-shadow: 0px 0px 20px 1px red;
    }
    22% {
        box-shadow: 0px 0px 20px 0px red;
    }
    30% {
        box-shadow: 0px 0px 20px 1px red;
    }
    35% {
        box-shadow: 0px 0px 20px 3px red;
    }
    40% {
        box-shadow: 0px 0px 20px 2px red;
    }
    50% {
        box-shadow: 0px 0px 20px 1px red;
    }
    52% {
        box-shadow: 0px 0px 20px 3px red;
    }
    55% {
        box-shadow: 0px 0px 20px 1px red;
    }
    57% {
        box-shadow: 0px 0px 20px 3px red;
    }
    60% {
        box-shadow: 0px 0px 20px 1px red;
    }
    100% {
        box-shadow: 0px 0px 20px 2px red;
    }
}